Repository bojanrajkovic/unquote: changes, and which lefthook commands are due for each by the changed paths.
All: tui-fmt, tui-vet, tui-lint, api-fmt, api-lint, api-typecheck

lefthook.yaml:

pre-commit:
  parallel: true
  commands:
    # TUI checks (Go)
    tui-fmt:
      glob: "tui/**/*.go"
      run: mise run //tui:fmt
      stage_fixed: true

    tui-vet:
      glob: "tui/**/*.go"
      run: mise run //tui:vet

    tui-lint:
      glob: "tui/**/*.go"
      run: mise run //tui:lint

    # API checks (TypeScript)
    api-fmt:
      glob: "api/**/*.ts"
      run: mise run //api:fmt
      stage_fixed: true

    api-lint:
      glob: "api/**/*.ts"
      run: mise run //api:lint

    api-typecheck:
      glob: "api/**/*.ts"
      run: mise run //api:typecheck

commit-msg:
  commands:
    commitlint:
      run: commitlint --edit {1}

test(api): consolidate health route tests into single file
  api/packages/api/src/routes/health.test.integration.ts
  api/packages/api/src/routes/health.test.ts
Due: api-fmt, api-lint, api-typecheck

ci(api): add docker containerization with multi-platform CI/CD (#6)
  .github/workflows/api-docker-pr.yml
  .github/workflows/api-docker-release.yml
  .github/workflows/api-release.yml
  .github/workflows/tui-pr.yml
  CLAUDE.md
  api/.dockerignore
  api/Dockerfile
  api/packages/api/CLAUDE.md
  api/packages/api/package.json
  api/packages/api/src/index.ts
  api/packages/api/src/routes/health.test.ts
  api/packages/api/src/routes/health.ts
  api/packages/api/tests/helpers/test-quotes-path.ts
  api/packages/game-generator/package.json
  api/pnpm-lock.yaml
  api/pnpm-workspace.yaml
Due: api-fmt, api-lint, api-typecheck

docs: add tui ci/cd pipeline design plan
  docs/design-plans/2026-02-04-tui-ci-cd.md
Due: none

docs: add api containerization design plan
  docs/design-plans/2026-02-05-api-containerization.md
Due: none

feat(api): add graceful shutdown on sigterm and sigint
  api/packages/api/src/index.ts
Due: api-fmt, api-lint, api-typecheck

build(tools): update claude code to 2.1.33
  mise.toml
Due: none

fix(api): add graceful shutdown on sigterm and sigint (#7)
  api/packages/api/src/index.ts
  docs/design-plans/2026-02-04-tui-ci-cd.md
  docs/design-plans/2026-02-05-api-containerization.md
  mise.toml
Due: api-fmt, api-lint, api-typecheck

ci(api): enable corepack in release workflow
  .github/workflows/api-release.yml
Due: none

ci(api): enable corepack in release workflow (#8)
  .github/workflows/api-release.yml
Due: none

fix(tui): point default api url to public instance
  CLAUDE.md
  tui/CLAUDE.md
  tui/internal/api/client.go
Due: tui-fmt, tui-vet, tui-lint

fix(tui): point default api url to public instance (#9)
  CLAUDE.md
  tui/CLAUDE.md
  tui/internal/api/client.go
Due: tui-fmt, tui-vet, tui-lint

ci: add gate jobs for monorepo path-scoped required checks
  .github/workflows/api-docker-pr.yml
  .github/workflows/tui-pr.yml
Due: none

ci(api): add pull-requests read permission for paths-filter
  .github/workflows/api-docker-pr.yml
Due: none

ci: add gate jobs for monorepo path-scoped required checks (#10)
  .github/workflows/api-docker-pr.yml
  .github/workflows/tui-pr.yml
Due: none

ci(tui): pass semver tag to goreleaser for monorepo releases
  .github/workflows/tui-release.yml
Due: none

ci(tui): pass semver tag to goreleaser for monorepo releases (#11)
  .github/workflows/tui-release.yml
Due: none

fix(tui): harden against escape injection and unbounded responses
  tui/internal/api/client.go
  tui/internal/app/update.go
  tui/internal/ui/sanitize.go
  tui/internal/ui/sanitize_test.go
Due: tui-fmt, tui-vet, tui-lint

fix(api): add configurable cors origin and trust proxy support
  api/packages/api/src/config/schema.ts
  api/packages/api/src/index.ts
Due: api-fmt, api-lint, api-typecheck

fix(api): harden input validation with strict schemas and size limits
  api/packages/api/src/domain/game/routes/schemas.ts
  api/packages/api/src/index.ts
Due: api-fmt, api-lint, api-typecheck

fix(game-generator): prevent cipher self-mapping in keyword cipher
  api/packages/game-generator/src/cipher/cipher.property.test.ts
  api/packages/game-generator/src/cipher/keyword-cipher.ts
Due: api-fmt, api-lint, api-typecheck

fix(game-generator): add timing-safe comparison and nfc normalization
  api/packages/game-generator/src/validation.test.ts
  api/packages/game-generator/src/validation.ts
Due: api-fmt, api-lint, api-typecheck

fix(api): harden build config, enable csp, sanitize errors, and validate otel endpoint
  .gitignore
  api/Dockerfile
  api/packages/api/src/config/schema.ts
  api/packages/api/src/index.ts
Due: api-fmt, api-lint, api-typecheck

refactor(tui): simplify sanitize with unicode.IsControl
  tui/internal/ui/sanitize.go
Due: tui-fmt, tui-vet, tui-lint

fix(tui): reduce max response size limit to 128kb
  tui/internal/api/client.go
Due: tui-fmt, tui-vet, tui-lint

fix(api): harden input validation with strict schemas and size limits (#14)
  api/packages/api/src/domain/game/routes/schemas.ts
  api/packages/api/src/index.ts
Due: api-fmt, api-lint, api-typecheck

fix(api): add configurable CORS origin and trust proxy support (#13)
  api/packages/api/src/config/schema.ts
  api/packages/api/src/index.ts
Due: api-fmt, api-lint, api-typecheck

fix(game-generator): add defensive throw if self-mapping swap fails
  api/packages/game-generator/src/cipher/keyword-cipher.ts
Due: api-fmt, api-lint, api-typecheck

fix(game-generator): prevent cipher self-mapping in keyword cipher (#15)
  api/packages/game-generator/src/cipher/cipher.property.test.ts
  api/packages/game-generator/src/cipher/keyword-cipher.ts
Due: api-fmt, api-lint, api-typecheck

fix(game-generator): add timing-safe comparison and nfc normalization (#16)
  api/packages/game-generator/src/validation.test.ts
  api/packages/game-generator/src/validation.ts
Due: api-fmt, api-lint, api-typecheck

fix(api): disable openapi docs in production instead of complex csp
  api/packages/api/src/index.ts
Due: api-fmt, api-lint, api-typecheck

fix(api): keep openapi json/yaml available in production
  api/packages/api/src/index.ts
Due: api-fmt, api-lint, api-typecheck

fix(tui): harden against escape injection and unbounded responses (#12)
  tui/internal/api/client.go
  tui/internal/app/update.go
  tui/internal/ui/sanitize.go
  tui/internal/ui/sanitize_test.go
Due: tui-fmt, tui-vet, tui-lint

fix(game-generator): resolve non-null assertion lint errors in cipher
  api/packages/game-generator/src/cipher/keyword-cipher.ts
Due: api-fmt, api-lint, api-typecheck

fix(game-generator): resolve non-null assertion lint errors in cipher (#18)
  api/packages/game-generator/src/cipher/keyword-cipher.ts
Due: api-fmt, api-lint, api-typecheck

fix(tui): add temporary unprefixed tag for goreleaser compatibility
  .github/workflows/tui-release.yml
Due: none

fix(tui): add temporary unprefixed tag for goreleaser compatibility (#19)
  .github/workflows/tui-release.yml
Due: none

fix(tui): scope changelog filters to tui commits only
  CLAUDE.md
  tui/.goreleaser.yml
Due: none

fix(api): version-tag docker images on release via workflow_call
  .github/workflows/api-docker-release.yml
  .github/workflows/api-release.yml
Due: none

fix(tui): set previous tag for goreleaser changelog
  .github/workflows/tui-release.yml
Due: none

fix(ci): allow subscopes and ci scope in pr title validation
  .github/workflows/tui-pr.yml
  CLAUDE.md
  commitlint.config.js
Due: none
