Repository bojanrajkovic/unquote: changes, and which lefthook commands are due for each by the changed paths.
All: tui-fmt, tui-vet, tui-lint, api-fmt, api-lint, api-typecheck

tui-fmt:
  run: mise run //tui:fmt
  stage_fixed: true

tui-vet:
  run: mise run //tui:vet

tui-lint:
  run: mise run //tui:lint

api-fmt:
  run: mise run //api:fmt
  stage_fixed: true

api-lint:
  run: mise run //api:lint

api-typecheck:
  run: mise run //api:typecheck

fix(ci): use release bot token to bypass branch protection
  .github/workflows/api-release.yml
Due: none

feat: add random puzzle endpoint and --random tui flag (#60)
  api/packages/api/src/domain/game/routes/puzzle.ts
  tui/internal/api/client.go
  tui/internal/app/commands.go
  tui/internal/app/model.go
  tui/internal/app/update.go
  tui/main.go
Due: tui-fmt, tui-vet, tui-lint, api-fmt, api-lint, api-typecheck

ci: add claude code review and pr assistant workflows
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: none

ci: skip claude code review for renovate prs
  .github/workflows/claude-code-review.yml
Due: none

ci: add claude code review and pr assistant workflows (#61)
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: none

build(api): add otel resource detectors including container
  api/packages/api/package.json
  api/packages/api/src/instrumentation.ts
  api/pnpm-lock.yaml
  api/pnpm-workspace.yaml
Due: api-fmt, api-lint, api-typecheck

docs: add player stats and claim codes design plan
  docs/design-plans/2026-02-15-player-stats-claim-codes.md
Due: none

docs: split player stats design into database, api, and tui plans
  docs/design-plans/2026-02-15-player-stats-api.md
  docs/design-plans/2026-02-15-player-stats-claim-codes.md
  docs/design-plans/2026-02-15-player-stats-database.md
  docs/design-plans/2026-02-15-player-stats-tui.md
Due: none

docs: address code review feedback on player stats api design plan
  docs/design-plans/2026-02-15-player-stats-api.md
Due: none

docs: address code review feedback on tui design plan
  docs/design-plans/2026-02-15-player-stats-tui.md
Due: none

docs: fix cross-reference verification issues in design plans
  docs/design-plans/2026-02-15-player-stats-api.md
  docs/design-plans/2026-02-15-player-stats-database.md
  docs/design-plans/2026-02-15-player-stats-tui.md
Due: none

docs: add server-side game id validation, renumber db acs
  docs/design-plans/2026-02-15-player-stats-api.md
  docs/design-plans/2026-02-15-player-stats-database.md
Due: none

docs: fix 503 to come from store exception, add missing stats 503
  docs/design-plans/2026-02-15-player-stats-api.md
Due: none

build(api): add drizzle-orm, pg, pglite, and otel-pg dependencies
  api/packages/api/package.json
  api/pnpm-lock.yaml
  api/pnpm-workspace.yaml
Due: none

feat(api): add branded player and game session id types
  api/packages/api/package.json
  api/packages/api/src/domain/player/types.ts
Due: api-fmt, api-lint, api-typecheck

feat(api): add schema, types, and config for player stats database
  api/packages/api/src/config/schema.ts
  api/packages/api/src/domain/player/schema.ts
Due: api-fmt, api-lint, api-typecheck

feat(api): add drizzle config and generate initial migration
  api/packages/api/db/migrations/0000_massive_young_avengers.sql
  api/packages/api/db/migrations/meta/0000_snapshot.json
  api/packages/api/db/migrations/meta/_journal.json
  api/packages/api/drizzle.config.ts
Due: api-fmt, api-lint, api-typecheck

feat(api): add migration runner with advisory lock
  api/packages/api/src/domain/player/migrator.ts
Due: api-fmt, api-lint, api-typecheck

feat(api): integrate database pool, otel, and cli migration entrypoint
  api/packages/api/src/deps/plugin.ts
  api/packages/api/src/deps/singleton.ts
  api/packages/api/src/index.ts
  api/packages/api/src/instrumentation.ts
  api/packages/api/tests/deps/singleton.test.ts
Due: api-fmt, api-lint, api-typecheck

fix(api): correct pg import and type annotations in di container
  api/packages/api/src/deps/plugin.ts
  api/packages/api/src/deps/singleton.ts
Due: api-fmt, api-lint, api-typecheck

feat(api): implement player store with claim codes and stats
  api/packages/api/src/domain/player/claim-code.ts
  api/packages/api/src/domain/player/store.ts
  api/packages/api/src/domain/player/types.ts
Due: api-fmt, api-lint, api-typecheck

test(api): add pglite snapshot/restore test helper
  api/packages/api/tests/helpers/index.ts
  api/packages/api/tests/helpers/pglite.ts
Due: api-fmt, api-lint, api-typecheck

test(api): add pglite integration tests for player store
  api/packages/api/src/domain/player/store.test.integration.ts
  api/packages/api/src/domain/player/store.ts
Due: api-fmt, api-lint, api-typecheck

feat(api): register player store in di container and add mock for tests
  api/packages/api/db/migrations/meta/0000_snapshot.json
  api/packages/api/db/migrations/meta/_journal.json
  api/packages/api/src/deps/singleton.ts
  api/packages/api/tests/helpers/index.ts
  api/packages/api/tests/helpers/test-container.ts
Due: api-fmt, api-lint, api-typecheck

fix(api): fix claim code word lists for correct format and deduplication
  api/packages/api/src/domain/player/claim-code.ts
Due: api-fmt, api-lint, api-typecheck

docs(api): update project context for player stats database layer
  CLAUDE.md
  api/packages/api/CLAUDE.md
  api/packages/api/src/config/CLAUDE.md
  api/packages/api/src/deps/CLAUDE.md
  api/packages/api/src/domain/player/CLAUDE.md
Due: none

docs: add test plan for player stats database
  docs/test-plans/2026-02-15-player-stats-database.md
Due: none

refactor(api): simplify pg pool import to named import
  api/packages/api/src/deps/singleton.ts
Due: api-fmt, api-lint, api-typecheck

build(api): mark drizzle migrations as generated in .gitattributes
  api/packages/api/.gitattributes
Due: none

docs(api): document completion time unit as milliseconds
  api/packages/api/src/domain/player/schema.ts
  api/packages/api/src/domain/player/types.ts
Due: api-fmt, api-lint, api-typecheck

feat(api): add player stats database layer (#66)
  CLAUDE.md
  api/packages/api/.gitattributes
  api/packages/api/CLAUDE.md
  api/packages/api/db/migrations/0000_massive_young_avengers.sql
  api/packages/api/db/migrations/meta/0000_snapshot.json
  api/packages/api/db/migrations/meta/_journal.json
  api/packages/api/drizzle.config.ts
  api/packages/api/package.json
  api/packages/api/src/config/CLAUDE.md
  api/packages/api/src/config/schema.ts
  api/packages/api/src/deps/CLAUDE.md
  api/packages/api/src/deps/plugin.ts
  api/packages/api/src/deps/singleton.ts
  api/packages/api/src/domain/player/CLAUDE.md
  api/packages/api/src/domain/player/claim-code.ts
  api/packages/api/src/domain/player/migrator.ts
  api/packages/api/src/domain/player/schema.ts
  api/packages/api/src/domain/player/store.test.integration.ts
  api/packages/api/src/domain/player/store.ts
  api/packages/api/src/domain/player/types.ts
  api/packages/api/src/index.ts
  api/packages/api/src/instrumentation.ts
  api/packages/api/tests/deps/singleton.test.ts
  api/packages/api/tests/helpers/index.ts
  api/packages/api/tests/helpers/pglite.ts
  api/packages/api/tests/helpers/test-container.ts
  api/pnpm-lock.yaml
  api/pnpm-workspace.yaml
  docs/test-plans/2026-02-15-player-stats-database.md
Due: api-fmt, api-lint, api-typecheck

Fix Claude code review to post PR comments and suppress verbose summary
  .github/workflows/claude-code-review.yml
Due: none

Fix: use DISPLAY_REPORT env var instead of invalid action input
  .github/workflows/claude-code-review.yml
Due: none

ci: fix claude code review workflow (#67)
  .github/workflows/claude-code-review.yml
Due: none

feat(api): add player route schemas
  api/packages/api/src/domain/player/routes/schemas.ts
Due: api-fmt, api-lint, api-typecheck

feat(api): split health endpoint into liveness and readiness probes
  api/packages/api/src/routes/health.test.ts
  api/packages/api/src/routes/health.ts
  api/packages/api/tests/helpers/test-container.ts
Due: api-fmt, api-lint, api-typecheck

feat(api): add player registration endpoint
  api/packages/api/src/domain/player/routes/register.test.integration.ts
  api/packages/api/src/domain/player/routes/register.ts
Due: api-fmt, api-lint, api-typecheck

feat(api): add session recording endpoint
  api/packages/api/src/domain/player/routes/session.test.integration.ts
  api/packages/api/src/domain/player/routes/session.ts
Due: api-fmt, api-lint, api-typecheck

feat(api): add player stats retrieval endpoint
  api/packages/api/src/domain/player/routes/session.test.integration.ts
  api/packages/api/src/domain/player/routes/stats.test.integration.ts
  api/packages/api/src/domain/player/routes/stats.ts
Due: api-fmt, api-lint, api-typecheck

feat(api): wire player routes into application
  api/packages/api/src/domain/player/routes/index.ts
  api/packages/api/src/index.ts
Due: api-fmt, api-lint, api-typecheck

Path conditions:
  tui-fmt: any of: tui/**/*.go
  tui-vet: any of: tui/**/*.go
  tui-lint: any of: tui/**/*.go
  api-fmt: any of: api/**/*.ts
  api-lint: any of: api/**/*.ts
  api-typecheck: any of: api/**/*.ts
