Repository bojanrajkovic/unquote: changes, and which lefthook commands are due for each by the changed paths.
All: tui-fmt, tui-vet, tui-lint, api-fmt, api-lint, api-typecheck

tui-fmt:
  run: mise run //tui:fmt
  stage_fixed: true

tui-vet:
  run: mise run //tui:vet

tui-lint:
  run: mise run //tui:lint

api-fmt:
  run: mise run //api:fmt
  stage_fixed: true

api-lint:
  run: mise run //api:lint

api-typecheck:
  run: mise run //api:typecheck

fix(web): route stats "create account" to onboarding choose step
  web/.prettierignore
  web/src/routes/+page.svelte
  web/src/routes/stats/+page.svelte
Due: none

chore(web): remove diagnostic logging from registration flow
  web/src/lib/api.ts
  web/src/routes/+page.svelte
  web/src/routes/stats/+page.svelte
Due: none

feat(web): add faq page with accordion cards and nav links
  web/src/app.css
  web/src/routes/+page.svelte
  web/src/routes/faq/+page.svelte
  web/src/routes/faq/+page.ts
  web/src/routes/game/+page.svelte
  web/src/routes/stats/+page.svelte
Due: none

fix(web): align stats chart date window with api's utc game dates
  web/src/routes/stats/+page.svelte
Due: none

feat(web): add FAQ page (#93)
  web/src/app.css
  web/src/routes/+page.svelte
  web/src/routes/faq/+page.svelte
  web/src/routes/faq/+page.ts
  web/src/routes/game/+page.svelte
  web/src/routes/stats/+page.svelte
Due: none

fix(web): align stats chart date window with api's utc game dates (#94)
  web/src/routes/stats/+page.svelte
Due: none

feat(api): add session lookup endpoint for cross-client sync
  api/packages/api/CLAUDE.md
  api/packages/api/src/domain/player/CLAUDE.md
  api/packages/api/src/domain/player/routes/index.ts
  api/packages/api/src/domain/player/routes/schemas.ts
  api/packages/api/src/domain/player/routes/session-lookup.test.integration.ts
  api/packages/api/src/domain/player/routes/session-lookup.ts
  api/packages/api/src/domain/player/store.test.integration.ts
  api/packages/api/src/domain/player/store.ts
  api/packages/api/src/domain/player/types.ts
  api/packages/api/tests/helpers/test-container.ts
Due: api-fmt, api-lint, api-typecheck

feat(web): detect and display puzzles solved on another device
  web/CLAUDE.md
  web/src/lib/api.ts
  web/src/lib/state/game.svelte.test.ts
  web/src/lib/state/game.svelte.ts
  web/src/routes/game/+page.svelte
  web/src/routes/game/+page.ts
Due: none

feat(tui): detect and display puzzles solved on another device
  .github/workflows/claude-code-review.yml
  CLAUDE.md
  docs/design-plans/2026-02-23-cross-client-sync.md
  docs/test-plans/2026-02-23-cross-client-sync.md
  tui/CLAUDE.md
  tui/internal/api/client.go
  tui/internal/api/client_test.go
  tui/internal/api/types.go
  tui/internal/app/commands.go
  tui/internal/app/messages.go
  tui/internal/app/model.go
  tui/internal/app/remote_session_test.go
  tui/internal/app/update.go
  tui/internal/app/view.go
Due: tui-fmt, tui-vet, tui-lint

fix(ci): scan all push commits for release eligibility
  .github/workflows/api-release.yml
  .github/workflows/tui-release.yml
Due: none

feat(api): accept game id in url path for session recording
  CLAUDE.md
  api/packages/api/src/domain/player/CLAUDE.md
  api/packages/api/src/domain/player/routes/schemas.ts
  api/packages/api/src/domain/player/routes/session.test.integration.ts
  api/packages/api/src/domain/player/routes/session.ts
Due: api-fmt, api-lint, api-typecheck

feat(api): accept game id in url path for session recording (#97)
  CLAUDE.md
  api/packages/api/src/domain/player/CLAUDE.md
  api/packages/api/src/domain/player/routes/schemas.ts
  api/packages/api/src/domain/player/routes/session.test.integration.ts
  api/packages/api/src/domain/player/routes/session.ts
Due: api-fmt, api-lint, api-typecheck

feat(api): add opentelemetry metrics export
  api/Dockerfile
  api/packages/api/package.json
  api/packages/api/src/instrumentation.ts
  api/packages/api/tests/telemetry/metrics.test.ts
  api/packages/api/tests/telemetry/otel-register-hook.ts
  api/packages/api/vitest.config.ts
  api/pnpm-lock.yaml
  api/pnpm-workspace.yaml
Due: api-fmt, api-lint, api-typecheck

feat(api): add opentelemetry metrics export (#98)
  api/Dockerfile
  api/packages/api/package.json
  api/packages/api/src/instrumentation.ts
  api/packages/api/tests/telemetry/metrics.test.ts
  api/packages/api/tests/telemetry/otel-register-hook.ts
  api/packages/api/vitest.config.ts
  api/pnpm-lock.yaml
  api/pnpm-workspace.yaml
Due: api-fmt, api-lint, api-typecheck

fix: rename commitlint config to .mjs for node 25 compat
  commitlint.config.mjs
Due: none

feat(api): use exponential histogram aggregation for all metrics
  api/packages/api/src/instrumentation.ts
Due: api-fmt, api-lint, api-typecheck

chore: update serena project memories and config
  .serena/memories/project_overview.md
  .serena/memories/style_and_conventions.md
  .serena/memories/suggested_commands.md
  .serena/project.yml
Due: none

feat(api): add opentelemetry metrics with exponential histograms (#103)
  api/packages/api/src/instrumentation.ts
  commitlint.config.mjs
Due: api-fmt, api-lint, api-typecheck

chore: update serena project memories and config (#104)
  .serena/memories/project_overview.md
  .serena/memories/style_and_conventions.md
  .serena/memories/suggested_commands.md
  .serena/project.yml
Due: none

fix(api): standardize game id error message across routes
  api/packages/api/src/domain/game/routes/solution.ts
Due: api-fmt, api-lint, api-typecheck

fix(api): limit exponential histogram bucket count to 20
  api/packages/api/src/instrumentation.ts
Due: api-fmt, api-lint, api-typecheck

fix(api): clean up quote database categories and add quotes
  api/resources/quotes.json
Due: none

fix(api): clean up quote database categories and add quotes (#109)
  api/resources/quotes.json
Due: none

fix(tui): resolve golangci-lint v2 warnings
  tui/.golangci.yml
  tui/cmd/stats.go
Due: tui-fmt, tui-vet, tui-lint

perf(api): consolidate getStats into a single database query
  api/packages/api/src/domain/player/store.ts
Due: api-fmt, api-lint, api-typecheck

build: relax commitlint subject-case to first-char only
  commitlint.config.mjs
Due: none

feat(web): design polish and skeleton-to-puzzle crossfade
  web/src/app.css
  web/src/app.html
  web/src/routes/+error.svelte
  web/src/routes/+page.svelte
  web/src/routes/faq/+page.svelte
  web/src/routes/game/+page.svelte
  web/src/routes/stats/+page.svelte
Due: none

chore(web): format app.html meta tags
  web/src/app.html
Due: none

fix: include html in web-fmt lefthook glob
  lefthook.yaml
Due: none

perf(api): consolidate getStats into a single database query (#111)
  api/packages/api/src/domain/player/store.ts
  commitlint.config.mjs
Due: api-fmt, api-lint, api-typecheck

feat(web): design polish and skeleton-to-puzzle crossfade (#114)
  lefthook.yaml
  web/src/app.css
  web/src/app.html
  web/src/routes/+error.svelte
  web/src/routes/+page.svelte
  web/src/routes/faq/+page.svelte
  web/src/routes/game/+page.svelte
  web/src/routes/stats/+page.svelte
Due: none

feat(web): add OG and Twitter Card image for social media previews
  web/src/app.html
  web/static/og-image.png
Due: none

feat(web): add OG and Twitter Card image (#115)
  web/src/app.html
  web/static/og-image.png
Due: none

fix(web): use absolute URLs for og:image and twitter:image meta tags
  web/src/app.html
Due: none

docs: add shareable stats design plan
  docs/design-plans/2026-03-07-shareable-stats.md
Due: none

feat(web): add share text formatter functions
  web/src/lib/share/format.ts
Due: none

Path conditions:
  tui-fmt: any of: tui/**/*.go
  tui-vet: any of: tui/**/*.go
  tui-lint: any of: tui/**/*.go
  api-fmt: any of: api/**/*.ts
  api-lint: any of: api/**/*.ts
  api-typecheck: any of: api/**/*.ts
