Repository bojanrajkovic/unquote: changes, and which lefthook commands are due for each by the changed paths.
All: tui-fmt, tui-vet, tui-lint, api-fmt, api-lint, api-typecheck

tui-fmt:
  run: mise run //tui:fmt
  stage_fixed: true

tui-vet:
  run: mise run //tui:vet

tui-lint:
  run: mise run //tui:lint

api-fmt:
  run: mise run //api:fmt
  stage_fixed: true

api-lint:
  run: mise run //api:lint

api-typecheck:
  run: mise run //api:typecheck

test(game-generator): add tests for QuoteSource abstract class behavior
  api/packages/api/src/domain/game/routes/puzzle.test.ts
  api/packages/api/src/domain/game/routes/solution.test.ts
  api/packages/api/tests/helpers/index.ts
  api/packages/api/tests/helpers/test-container.ts
  api/packages/game-generator/src/quotes/quote-source.test.ts
Due: api-fmt, api-lint, api-typecheck

refactor(game-generator): add inmemoryquotesource, export quoteschema
  api/packages/game-generator/src/cipher/cipher.property.test.ts
  api/packages/game-generator/src/cipher/keyword-cipher.test.ts
  api/packages/game-generator/src/index.ts
  api/packages/game-generator/src/integration.test.ts
  api/packages/game-generator/src/quotes/in-memory-source.ts
  api/packages/game-generator/src/quotes/index.ts
  api/packages/game-generator/src/quotes/quote-source.test.ts
Due: api-fmt, api-lint, api-typecheck

build(api): split tsconfig into build and typecheck configs
  api/packages/api/package.json
  api/packages/api/tests/config/schema.test.ts
  api/packages/api/tests/helpers/test-container.test.ts
  api/packages/api/tests/helpers/test-container.ts
  api/packages/api/tsconfig.build.json
  api/packages/api/tsconfig.json
  api/packages/game-generator/package.json
  api/packages/game-generator/src/difficulty/scorer.property.test.ts
  api/packages/game-generator/src/difficulty/scorer.test.ts
  api/packages/game-generator/src/hints/generator.property.test.ts
  api/packages/game-generator/tsconfig.build.json
  api/packages/game-generator/tsconfig.json
  api/tsconfig.build.json
  api/tsconfig.json
Due: api-fmt, api-lint, api-typecheck

refactor(api): move jsonquotesource from game-generator to api package
  api/packages/api/CLAUDE.md
  api/packages/api/src/deps/singleton.ts
  api/packages/api/src/domain/game/routes/openapi.test.integration.ts
  api/packages/api/src/domain/game/routes/puzzle.test.integration.ts
  api/packages/api/src/domain/game/routes/puzzle.test.ts
  api/packages/api/src/domain/game/routes/solution.test.integration.ts
  api/packages/api/src/domain/game/routes/solution.test.ts
  api/packages/api/src/sources/index.ts
  api/packages/api/src/sources/json-quote-source.test.ts
  api/packages/api/src/sources/json-quote-source.ts
  api/packages/api/tests/helpers/index.ts
  api/packages/api/tests/helpers/test-container.ts
  api/packages/game-generator/CLAUDE.md
  api/packages/game-generator/src/index.ts
  api/packages/game-generator/src/quotes/index.ts
Due: api-fmt, api-lint, api-typecheck

refactor(game-generator): make generatepuzzle async with injection
  api/packages/api/src/deps/singleton.ts
  api/packages/api/src/domain/game/routes/openapi.test.integration.ts
  api/packages/api/src/domain/game/routes/puzzle.test.integration.ts
  api/packages/api/src/domain/game/routes/puzzle.test.ts
  api/packages/api/src/domain/game/routes/solution.test.integration.ts
  api/packages/api/src/domain/game/routes/solution.test.ts
  api/packages/api/src/sources/index.ts
  api/packages/api/src/sources/static-keyword-source.test.ts
  api/packages/api/src/sources/static-keyword-source.ts
  api/packages/api/tests/helpers/test-container.test.ts
  api/packages/api/tests/helpers/test-container.ts
  api/packages/game-generator/src/cipher/cipher.property.test.ts
  api/packages/game-generator/src/cipher/index.ts
  api/packages/game-generator/src/cipher/keyword-cipher.test.ts
  api/packages/game-generator/src/cipher/keyword-cipher.ts
  api/packages/game-generator/src/cipher/types.ts
  api/packages/game-generator/src/index.ts
  api/packages/game-generator/src/integration.test.ts
Due: api-fmt, api-lint, api-typecheck

docs: update documentation for quotesource/keywordsource refactor
  api/packages/api/CLAUDE.md
  api/packages/api/src/deps/CLAUDE.md
  api/packages/game-generator/CLAUDE.md
  docs/CODEBASE_MAP.md
Due: none

fix(api): use named import for ajv, drop ts-expect-error
  api/packages/api/tests/config/schema.test.ts
Due: api-fmt, api-lint, api-typecheck

refactor(game-generator): move test double to /testing subpath export
  api/packages/api/src/domain/game/routes/puzzle.test.ts
  api/packages/api/src/domain/game/routes/solution.test.ts
  api/packages/api/tests/helpers/test-container.ts
  api/packages/game-generator/package.json
  api/packages/game-generator/src/index.ts
  api/packages/game-generator/src/quotes/index.ts
  api/packages/game-generator/src/testing.ts
Due: api-fmt, api-lint, api-typecheck

refactor(api): remove unnecessary barrel exports
  api/packages/api/src/deps/singleton.ts
  api/packages/api/src/domain/game/index.ts
  api/packages/api/src/domain/game/routes/openapi.test.integration.ts
  api/packages/api/src/domain/game/routes/puzzle.test.integration.ts
  api/packages/api/src/domain/game/routes/solution.test.integration.ts
  api/packages/api/src/sources/index.ts
  api/packages/game-generator/src/cipher/index.ts
  api/packages/game-generator/src/cipher/keyword-cipher.ts
  api/packages/game-generator/src/difficulty/index.ts
  api/packages/game-generator/src/hints/index.ts
  api/packages/game-generator/src/index.ts
  api/packages/game-generator/src/quotes/index.ts
Due: api-fmt, api-lint, api-typecheck

refactor(tui): replace cell.isletter with cellkind enum
  tui/internal/app/commands.go
  tui/internal/app/grid.go
  tui/internal/app/grid_test.go
  tui/internal/app/session_restore_test.go
  tui/internal/app/update.go
  tui/internal/puzzle/cells.go
  tui/internal/puzzle/cells_test.go
  tui/internal/puzzle/solution.go
  tui/internal/puzzle/solution_test.go
  tui/internal/ui/wrap_test.go
Due: tui-fmt, tui-vet, tui-lint

docs(tui): update puzzle package invariants for cell kind enum
  tui/CLAUDE.md
  tui/internal/app/session_restore_test.go
Due: tui-fmt, tui-vet, tui-lint

refactor(tui): update input functions for cellkind enum
  tui/internal/puzzle/cells_test.go
  tui/internal/puzzle/solution.go
  tui/internal/puzzle/solution_test.go
Due: tui-fmt, tui-vet, tui-lint

feat(tui): render hint cells with cyan styling and wire through app
  tui/CLAUDE.md
  tui/internal/app/grid.go
  tui/internal/app/grid_test.go
  tui/internal/app/session_restore_test.go
  tui/internal/app/update.go
  tui/internal/ui/styles.go
Due: tui-fmt, tui-vet, tui-lint

docs(tui): update context for hint prefill contracts
  tui/CLAUDE.md
Due: none

feat(tui): add hint prefill for puzzle cells (#56)
  tui/CLAUDE.md
  tui/internal/app/commands.go
  tui/internal/app/grid.go
  tui/internal/app/grid_test.go
  tui/internal/app/session_restore_test.go
  tui/internal/app/update.go
  tui/internal/puzzle/cells.go
  tui/internal/puzzle/cells_test.go
  tui/internal/puzzle/solution.go
  tui/internal/puzzle/solution_test.go
  tui/internal/ui/styles.go
  tui/internal/ui/wrap_test.go
Due: tui-fmt, tui-vet, tui-lint

docs: add hint prefill design plan
  docs/design-plans/2026-02-12-hint-prefill.md
Due: none

build(tui): switch macos builds to universal binary
  .github/workflows/tui-pr.yml
  tui/.goreleaser.yml
  tui/CLAUDE.md
Due: none

build(tui): switch macos builds to universal binary (#57)
  .github/workflows/tui-pr.yml
  tui/.goreleaser.yml
  tui/CLAUDE.md
Due: none

build(api): reduce docker image size with selective otel instrumentation
  api/.npmrc
  api/Dockerfile
  api/package.json
  api/packages/api/package.json
  api/packages/api/src/instrumentation.ts
  api/pnpm-lock.yaml
  api/pnpm-workspace.yaml
Due: api-fmt, api-lint, api-typecheck

docs: add game tracing design plan
  docs/design-plans/2026-02-14-game-tracing.md
Due: none

feat(game-generator): instrument cipher functions with withspan
  api/packages/game-generator/package.json
  api/packages/game-generator/src/cipher/keyword-cipher.ts
  api/packages/game-generator/src/index.ts
  api/packages/game-generator/src/tracing.test.ts
  api/packages/game-generator/src/tracing.ts
  api/pnpm-lock.yaml
  api/pnpm-workspace.yaml
Due: api-fmt, api-lint, api-typecheck

feat(game-generator): instrument keywordciphergenerator with @traced
  api/packages/game-generator/src/cipher/keyword-cipher.ts
Due: api-fmt, api-lint, api-typecheck

feat(game-generator): add spans to validatesolution and generatehints
  api/packages/game-generator/src/hints/generator.ts
  api/packages/game-generator/src/validation.ts
Due: api-fmt, api-lint, api-typecheck

test(game-generator): add span tree integration test
  api/packages/game-generator/src/tracing.integration.test.ts
Due: api-fmt, api-lint, api-typecheck

fix(game-generator): address phase 2 code review feedback on tests
  api/packages/game-generator/package.json
  api/packages/game-generator/src/hints/generator.ts
  api/packages/game-generator/src/tracing.integration.test.ts
  api/packages/game-generator/src/validation.ts
  api/pnpm-lock.yaml
  api/pnpm-workspace.yaml
Due: api-fmt, api-lint, api-typecheck

feat(api): add tracedproxy utility for di service instrumentation
  .DS_Store
  api/packages/api/package.json
  api/packages/api/src/tracing/traced-proxy.test.ts
  api/packages/api/src/tracing/traced-proxy.ts
  api/pnpm-lock.yaml
  docs/.DS_Store
Due: api-fmt, api-lint, api-typecheck

feat(api): wrap di services with tracedproxy
  api/packages/api/src/deps/singleton.ts
Due: api-fmt, api-lint, api-typecheck

fix(api): remove .ds_store files and fix jsdoc typo
  .DS_Store
  .gitignore
  api/packages/api/src/tracing/traced-proxy.ts
  docs/.DS_Store
Due: api-fmt, api-lint, api-typecheck

docs: update project context for game tracing instrumentation
  CLAUDE.md
  api/packages/api/CLAUDE.md
  api/packages/api/src/deps/CLAUDE.md
  api/packages/game-generator/CLAUDE.md
Due: none

docs: add test plan for game tracing
  docs/test-plans/2026-02-14-game-tracing.md
Due: none

refactor(game-generator): extract shared span execution logic
  api/packages/game-generator/src/tracing.ts
Due: api-fmt, api-lint, api-typecheck

chore: upgrade claude code to 2.1.42
  mise.toml
Due: none

ci(api): sync package.json versions with release tags
  .github/workflows/api-release.yml
  api/packages/api/CLAUDE.md
  api/packages/api/package.json
  api/packages/game-generator/package.json
Due: none

docs: update codebase map for game tracing feature
  docs/CODEBASE_MAP.md
Due: none

feat: add opentelemetry game tracing instrumentation (#58)
  .github/workflows/api-release.yml
  .gitignore
  CLAUDE.md
  api/packages/api/CLAUDE.md
  api/packages/api/package.json
  api/packages/api/src/deps/CLAUDE.md
  api/packages/api/src/deps/singleton.ts
  api/packages/api/src/tracing/traced-proxy.test.ts
  api/packages/api/src/tracing/traced-proxy.ts
  api/packages/game-generator/CLAUDE.md
  api/packages/game-generator/package.json
  api/packages/game-generator/src/cipher/keyword-cipher.ts
  api/packages/game-generator/src/hints/generator.ts
  api/packages/game-generator/src/index.ts
  api/packages/game-generator/src/tracing.integration.test.ts
  api/packages/game-generator/src/tracing.test.ts
  api/packages/game-generator/src/tracing.ts
  api/packages/game-generator/src/validation.ts
  api/pnpm-lock.yaml
  api/pnpm-workspace.yaml
  docs/CODEBASE_MAP.md
  docs/test-plans/2026-02-14-game-tracing.md
Due: api-fmt, api-lint, api-typecheck

fix(ci): use npm version instead of pnpm --filter for version bumps
  .github/workflows/api-release.yml
Due: none

feat: add quote category to puzzle response and tui display
  api/packages/api/src/domain/game/routes/puzzle.ts
  api/packages/api/src/domain/game/routes/schemas.ts
  tui/internal/api/types.go
  tui/internal/app/view.go
Due: tui-fmt, tui-vet, tui-lint, api-fmt, api-lint, api-typecheck

feat: add quote category to puzzle response and tui display (#59)
  api/packages/api/src/domain/game/routes/puzzle.ts
  api/packages/api/src/domain/game/routes/schemas.ts
  tui/internal/api/types.go
  tui/internal/app/view.go
Due: tui-fmt, tui-vet, tui-lint, api-fmt, api-lint, api-typecheck

feat: add random puzzle endpoint and --random tui flag
  api/packages/api/src/domain/game/routes/puzzle.ts
  tui/internal/api/client.go
  tui/internal/app/commands.go
  tui/internal/app/model.go
  tui/internal/app/update.go
  tui/main.go
Due: tui-fmt, tui-vet, tui-lint, api-fmt, api-lint, api-typecheck

Path conditions:
  tui-fmt: any of: tui/**/*.go
  tui-vet: any of: tui/**/*.go
  tui-lint: any of: tui/**/*.go
  api-fmt: any of: api/**/*.ts
  api-lint: any of: api/**/*.ts
  api-typecheck: any of: api/**/*.ts
