Repository bojanrajkovic/unquote: changes, and which lefthook commands are due for each by the changed paths.
All: tui-fmt, tui-vet, tui-lint, api-fmt, api-lint, api-typecheck

tui-fmt:
  run: mise run //tui:fmt
  stage_fixed: true

tui-vet:
  run: mise run //tui:vet

tui-lint:
  run: mise run //tui:lint

api-fmt:
  run: mise run //api:fmt
  stage_fixed: true

api-lint:
  run: mise run //api:lint

api-typecheck:
  run: mise run //api:typecheck

fix(ci): version-tag docker images and scope tui changelog (#20)
  .github/workflows/api-docker-release.yml
  .github/workflows/api-release.yml
  .github/workflows/tui-pr.yml
  .github/workflows/tui-release.yml
  CLAUDE.md
  commitlint.config.js
  tui/.goreleaser.yml
Due: none

fix(api): harden build config, enable csp, sanitize errors, and validate otel endpoint (#17)
  .gitignore
  api/Dockerfile
  api/packages/api/src/config/schema.ts
  api/packages/api/src/index.ts
Due: api-fmt, api-lint, api-typecheck

ci(api,tui): skip release when only workflow files changed
  .github/workflows/api-release.yml
  .github/workflows/tui-release.yml
Due: none

ci(api,tui): skip release when only workflow files changed (#21)
  .github/workflows/api-release.yml
  .github/workflows/tui-release.yml
Due: none

ci: harden workflows per zizmor static analysis
  .github/workflows/api-docker-pr.yml
  .github/workflows/api-docker-release.yml
  .github/workflows/api-release.yml
  .github/workflows/tui-pr.yml
  .github/workflows/tui-release.yml
Due: none

ci: add concurrency limits and document permissions
  .github/workflows/api-docker-pr.yml
  .github/workflows/api-docker-release.yml
  .github/workflows/api-release.yml
  .github/workflows/tui-pr.yml
  .github/workflows/tui-release.yml
Due: none

fix(ci): add pull-requests read permission for paths-filter
  .github/workflows/tui-pr.yml
Due: none

ci: harden workflows per zizmor static analysis (#22)
  .github/workflows/api-docker-pr.yml
  .github/workflows/api-docker-release.yml
  .github/workflows/api-release.yml
  .github/workflows/tui-pr.yml
  .github/workflows/tui-release.yml
Due: none

fix(tui): use os.openroot to prevent path traversal in session storage
  tui/internal/storage/CLAUDE.md
  tui/internal/storage/session.go
  tui/internal/storage/session_test.go
Due: tui-fmt, tui-vet, tui-lint

feat(tui): add --insecure and --version flags with stdlib flag parsing
  tui/CLAUDE.md
  tui/internal/app/model.go
  tui/internal/app/model_test.go
  tui/main.go
Due: tui-fmt, tui-vet, tui-lint

fix(tui): block insecure http and disable redirect following
  tui/CLAUDE.md
  tui/internal/api/client.go
  tui/internal/api/client_test.go
  tui/internal/app/model.go
  tui/internal/app/model_test.go
  tui/main.go
Due: tui-fmt, tui-vet, tui-lint

fix(api): switch rate limiting from global shared counter to per-ip
  api/packages/api/src/config/schema.ts
  api/packages/api/src/deps/singleton.ts
  api/packages/api/src/index.ts
  api/packages/api/tests/deps/singleton.test.ts
  api/packages/api/tests/helpers/test-container.ts
  api/packages/game-generator/src/quotes/json-source.test.ts
  api/packages/game-generator/src/quotes/json-source.ts
Due: api-fmt, api-lint, api-typecheck

docs: update project context for security hardening
  CLAUDE.md
  api/packages/api/CLAUDE.md
  api/packages/api/src/config/CLAUDE.md
  api/packages/api/src/deps/CLAUDE.md
  api/packages/game-generator/CLAUDE.md
  tui/CLAUDE.md
  tui/internal/storage/CLAUDE.md
Due: none

refactor(tui): remove redundant game id validation
  tui/internal/storage/CLAUDE.md
  tui/internal/storage/session.go
  tui/internal/storage/session_test.go
Due: tui-fmt, tui-vet, tui-lint

fix: security hardening across API and TUI (#23)
  CLAUDE.md
  api/packages/api/CLAUDE.md
  api/packages/api/src/config/CLAUDE.md
  api/packages/api/src/config/schema.ts
  api/packages/api/src/deps/CLAUDE.md
  api/packages/api/src/deps/singleton.ts
  api/packages/api/src/index.ts
  api/packages/api/tests/deps/singleton.test.ts
  api/packages/api/tests/helpers/test-container.ts
  api/packages/game-generator/CLAUDE.md
  api/packages/game-generator/src/quotes/json-source.test.ts
  api/packages/game-generator/src/quotes/json-source.ts
  tui/CLAUDE.md
  tui/internal/api/client.go
  tui/internal/api/client_test.go
  tui/internal/app/model.go
  tui/internal/app/model_test.go
  tui/internal/storage/CLAUDE.md
  tui/internal/storage/session.go
  tui/internal/storage/session_test.go
  tui/main.go
Due: tui-fmt, tui-vet, tui-lint, api-fmt, api-lint, api-typecheck

docs: add security hardening design plan
  docs/design-plans/2026-02-07-security-hardening.md
Due: none

fix(api): register ajv-formats for uri validation in env schema
  api/Dockerfile
  api/packages/api/package.json
  api/packages/api/src/index.ts
  api/packages/api/tests/config/schema.test.ts
  api/patches/ajv-formats@3.0.1.patch
  api/pnpm-lock.yaml
  api/pnpm-workspace.yaml
  api/tsconfig.json
Due: api-fmt, api-lint, api-typecheck

fix(api): register ajv-formats for uri validation in env schema (#24)
  api/Dockerfile
  api/packages/api/package.json
  api/packages/api/src/index.ts
  api/packages/api/tests/config/schema.test.ts
  api/patches/ajv-formats@3.0.1.patch
  api/pnpm-lock.yaml
  api/pnpm-workspace.yaml
  api/tsconfig.json
Due: api-fmt, api-lint, api-typecheck

fix(ci): merge docker release into api release workflow
  .github/workflows/api-docker-release.yml
  .github/workflows/api-release.yml
Due: none

build: add zizmor to mise toolchain
  mise.toml
Due: none

ci: merge docker release into api release workflow (#25)
  .github/workflows/api-docker-release.yml
  .github/workflows/api-release.yml
  mise.toml
Due: none

fix(api): silence health check request logging on success
  api/packages/api/src/routes/health.ts
Due: api-fmt, api-lint, api-typecheck

fix(api): silence health check request logging on success (#26)
  api/packages/api/src/routes/health.ts
Due: api-fmt, api-lint, api-typecheck

docs(tui): add duplicate plaintext warning design plan
  docs/design-plans/2026-02-08-duplicate-plaintext-warning.md
Due: none

feat(tui): highlight duplicate plaintext letter assignments
  tui/internal/app/grid.go
  tui/internal/app/grid_test.go
Due: tui-fmt, tui-vet, tui-lint

feat(tui): add duplicate input detection function
  tui/internal/app/grid.go
  tui/internal/app/grid_test.go
Due: tui-fmt, tui-vet, tui-lint

feat(tui): add warning color and duplicate input style
  tui/internal/ui/styles.go
Due: tui-fmt, tui-vet, tui-lint

feat(tui): add duplicate plaintext letter warning (#27)
  tui/internal/app/grid.go
  tui/internal/app/grid_test.go
  tui/internal/ui/styles.go
Due: tui-fmt, tui-vet, tui-lint

docs: add project readme
  README.md
Due: none

ci(tui): switch to unprefixed v* tags for releases
  .github/workflows/tui-pr.yml
  .github/workflows/tui-release.yml
Due: none

fix(ci): use scope-aware patterns for semantic version bumps
  .github/workflows/api-release.yml
  .github/workflows/tui-pr.yml
  .github/workflows/tui-release.yml
Due: none

build: configure renovate with project-specific rules
  renovate.json
Due: none

ci: remove custom semantic-version pattern workarounds
  .github/workflows/api-release.yml
  .github/workflows/tui-pr.yml
  .github/workflows/tui-release.yml
Due: none

ci: remove custom semantic-version pattern workarounds (#51)
  .github/workflows/api-release.yml
  .github/workflows/tui-pr.yml
  .github/workflows/tui-release.yml
Due: none

docs: add codebase map with architecture diagrams and module guide
  CLAUDE.md
  docs/CODEBASE_MAP.md
Due: none

chore: update serena project memories to reflect current state
  .serena/memories/project_overview.md
  .serena/memories/style_and_conventions.md
  .serena/memories/suggested_commands.md
  .serena/memories/task_completion.md
Due: none

docs: add codebase map and update serena memories (#52)
  .serena/memories/project_overview.md
  .serena/memories/style_and_conventions.md
  .serena/memories/suggested_commands.md
  .serena/memories/task_completion.md
  CLAUDE.md
  docs/CODEBASE_MAP.md
Due: none

docs: fix mermaid diagram rendering on github
  docs/CODEBASE_MAP.md
Due: none

docs: add quote source refactor design plan
  docs/design-plans/2026-02-09-quote-source-refactor.md
Due: none

refactor(game-generator): convert quotesource to abstract class
  api/packages/game-generator/src/index.ts
  api/packages/game-generator/src/quotes/index.ts
  api/packages/game-generator/src/quotes/json-source.ts
  api/packages/game-generator/src/quotes/types.ts
  docs/design-plans/2026-02-09-quote-source-refactor.md
Due: api-fmt, api-lint, api-typecheck

Path conditions:
  tui-fmt: any of: tui/**/*.go
  tui-vet: any of: tui/**/*.go
  tui-lint: any of: tui/**/*.go
  api-fmt: any of: api/**/*.ts
  api-lint: any of: api/**/*.ts
  api-typecheck: any of: api/**/*.ts
