Repository bojanrajkovic/unquote: changes, and which lefthook commands are due for each by the changed paths.
All: tui-fmt, tui-vet, tui-lint, api-fmt, api-lint, api-typecheck

lefthook.yaml:

pre-commit:
  parallel: true
  commands:
    # TUI checks (Go)
    tui-fmt:
      glob: "tui/**/*.go"
      run: mise run //tui:fmt
      stage_fixed: true

    tui-vet:
      glob: "tui/**/*.go"
      run: mise run //tui:vet

    tui-lint:
      glob: "tui/**/*.go"
      run: mise run //tui:lint

    # API checks (TypeScript)
    api-fmt:
      glob: "api/**/*.ts"
      run: mise run //api:fmt
      stage_fixed: true

    api-lint:
      glob: "api/**/*.ts"
      run: mise run //api:lint

    api-typecheck:
      glob: "api/**/*.ts"
      run: mise run //api:typecheck

commit-msg:
  commands:
    commitlint:
      run: commitlint --edit {1}

test(api): add openapi assertions for player and health endpoints
  api/packages/api/src/domain/game/routes/openapi.test.integration.ts
Due: api-fmt, api-lint, api-typecheck

fix(api): address code review feedback on player route style
  api/packages/api/src/domain/game/routes/openapi.test.integration.ts
  api/packages/api/src/domain/player/routes/register.ts
  api/packages/api/src/domain/player/routes/session.ts
  api/packages/api/src/domain/player/routes/stats.ts
Due: api-fmt, api-lint, api-typecheck

docs: update context files for player routes and health split
  CLAUDE.md
  api/packages/api/CLAUDE.md
  api/packages/api/src/domain/player/CLAUDE.md
Due: none

docs: add test plan for player stats api
  api/packages/api/src/domain/game/routes/openapi.test.integration.ts
  docs/test-plans/2026-02-15-player-stats-api.md
Due: api-fmt, api-lint, api-typecheck

refactor(api): nest database status in health ready response
  api/packages/api/src/routes/health.test.ts
  api/packages/api/src/routes/health.ts
Due: api-fmt, api-lint, api-typecheck

docs: fix cross-reference verification issues in design plans
  docs/design-plans/2026-02-15-player-stats-api.md
  docs/design-plans/2026-02-15-player-stats-database.md
  docs/design-plans/2026-02-15-player-stats-tui.md
Due: none

docs: add player stats and claim codes design plan
  docs/design-plans/2026-02-15-player-stats-claim-codes.md
Due: none

docs: split player stats design into database, api, and tui plans
  docs/design-plans/2026-02-15-player-stats-api.md
  docs/design-plans/2026-02-15-player-stats-claim-codes.md
  docs/design-plans/2026-02-15-player-stats-database.md
  docs/design-plans/2026-02-15-player-stats-tui.md
Due: none

docs: address code review feedback on tui design plan
  docs/design-plans/2026-02-15-player-stats-tui.md
Due: none

docs: add server-side game id validation, renumber db acs
  docs/design-plans/2026-02-15-player-stats-api.md
  docs/design-plans/2026-02-15-player-stats-database.md
Due: none

docs: fix 503 to come from store exception, add missing stats 503
  docs/design-plans/2026-02-15-player-stats-api.md
Due: none

docs: address code review feedback on player stats api design plan
  docs/design-plans/2026-02-15-player-stats-api.md
Due: none

feat(api): add player stats database layer (#66)
  CLAUDE.md
  api/packages/api/.gitattributes
  api/packages/api/CLAUDE.md
  api/packages/api/db/migrations/0000_massive_young_avengers.sql
  api/packages/api/db/migrations/meta/0000_snapshot.json
  api/packages/api/db/migrations/meta/_journal.json
  api/packages/api/drizzle.config.ts
  api/packages/api/package.json
  api/packages/api/src/config/CLAUDE.md
  api/packages/api/src/config/schema.ts
  api/packages/api/src/deps/CLAUDE.md
  api/packages/api/src/deps/plugin.ts
  api/packages/api/src/deps/singleton.ts
  api/packages/api/src/domain/player/CLAUDE.md
  api/packages/api/src/domain/player/claim-code.ts
  api/packages/api/src/domain/player/migrator.ts
  api/packages/api/src/domain/player/schema.ts
  api/packages/api/src/domain/player/store.test.integration.ts
  api/packages/api/src/domain/player/store.ts
  api/packages/api/src/domain/player/types.ts
  api/packages/api/src/index.ts
  api/packages/api/src/instrumentation.ts
  api/packages/api/tests/deps/singleton.test.ts
  api/packages/api/tests/helpers/index.ts
  api/packages/api/tests/helpers/pglite.ts
  api/packages/api/tests/helpers/test-container.ts
  api/pnpm-lock.yaml
  api/pnpm-workspace.yaml
  docs/test-plans/2026-02-15-player-stats-database.md
Due: api-fmt, api-lint, api-typecheck

chore: disable typescript and go lsp plugins
  .claude/settings.json
Due: none

feat(api): add player stats REST endpoints (#68)
  CLAUDE.md
  api/packages/api/CLAUDE.md
  api/packages/api/src/domain/game/routes/openapi.test.integration.ts
  api/packages/api/src/domain/player/CLAUDE.md
  api/packages/api/src/domain/player/routes/index.ts
  api/packages/api/src/domain/player/routes/register.test.integration.ts
  api/packages/api/src/domain/player/routes/register.ts
  api/packages/api/src/domain/player/routes/schemas.ts
  api/packages/api/src/domain/player/routes/session.test.integration.ts
  api/packages/api/src/domain/player/routes/session.ts
  api/packages/api/src/domain/player/routes/stats.test.integration.ts
  api/packages/api/src/domain/player/routes/stats.ts
  api/packages/api/src/index.ts
  api/packages/api/src/routes/health.test.ts
  api/packages/api/src/routes/health.ts
  api/packages/api/tests/helpers/test-container.ts
  docs/test-plans/2026-02-15-player-stats-api.md
Due: api-fmt, api-lint, api-typecheck

chore: some minor mise.toml niceties
  api/mise.toml
  mise.toml
  tui/mise.toml
Due: none

build(tui): add cobra dependency
  tui/go.mod
  tui/go.sum
Due: none

feat(tui): migrate from flag package to cobra
  tui/cmd/root.go
  tui/cmd/version.go
  tui/main.go
Due: tui-fmt, tui-vet, tui-lint

test(tui): add cobra command tests
  tui/cmd/root_test.go
  tui/cmd/version_test.go
Due: tui-fmt, tui-vet, tui-lint

feat(tui): add config package for claim code and stats preference
  tui/internal/config/config.go
  tui/internal/config/config_test.go
Due: tui-fmt, tui-vet, tui-lint

docs(tui): add config package claude.md
  tui/internal/config/CLAUDE.md
Due: none

feat(tui): add player api response types
  tui/internal/api/types.go
Due: tui-fmt, tui-vet, tui-lint

feat(tui): add player api client methods
  tui/internal/api/client.go
  tui/internal/api/client_test.go
Due: tui-fmt, tui-vet, tui-lint

feat(tui): add uploaded field to game session
  tui/internal/storage/session.go
  tui/internal/storage/session_test.go
Due: tui-fmt, tui-vet, tui-lint

feat(tui): add list solved sessions for reconciliation
  tui/internal/storage/session.go
  tui/internal/storage/session_test.go
Due: tui-fmt, tui-vet, tui-lint

build(tui): add huh dependency for interactive forms
  tui/go.mod
  tui/go.sum
Due: none

feat(tui): add onboarding states and messages
  tui/internal/app/grid_test.go
  tui/internal/app/messages.go
  tui/internal/app/model.go
Due: tui-fmt, tui-vet, tui-lint

feat(tui): add onboarding commands
  tui/internal/app/commands.go
Due: tui-fmt, tui-vet, tui-lint

feat(tui): integrate onboarding flow into update loop
  tui/internal/app/update.go
Due: tui-fmt, tui-vet, tui-lint

feat(tui): add onboarding and claim code display views
  tui/internal/app/view.go
Due: tui-fmt, tui-vet, tui-lint

test(tui): add onboarding flow tests
  tui/internal/app/onboarding_test.go
Due: tui-fmt, tui-vet, tui-lint

feat(tui): add register subcommand
  tui/cmd/register.go
  tui/cmd/register_test.go
  tui/cmd/root.go
Due: tui-fmt, tui-vet, tui-lint

feat(tui): add link subcommand
  tui/cmd/link.go
  tui/cmd/link_test.go
  tui/cmd/root.go
Due: tui-fmt, tui-vet, tui-lint

feat(tui): add claim-code subcommand
  tui/cmd/claimcode.go
  tui/cmd/claimcode_test.go
  tui/cmd/root.go
Due: tui-fmt, tui-vet, tui-lint

feat(tui): add session recording and reconciliation commands
  tui/internal/app/commands.go
  tui/internal/app/messages.go
Due: tui-fmt, tui-vet, tui-lint

feat(tui): integrate session recording into solve flow
  tui/internal/app/update.go
Due: tui-fmt, tui-vet, tui-lint

feat(tui): show registration hint on solved screen
  tui/internal/app/view.go
Due: tui-fmt, tui-vet, tui-lint

test(tui): add post-solve recording and reconciliation tests
  tui/internal/app/recording_test.go
Due: tui-fmt, tui-vet, tui-lint

build(tui): add asciigraph dependency for stats visualization
  tui/go.mod
  tui/go.sum
Due: none

feat(tui): add stats state and model fields
  tui/internal/app/messages.go
  tui/internal/app/model.go
Due: tui-fmt, tui-vet, tui-lint
