Repository bojanrajkovic/unquote: changes, and which lefthook commands are due for each by the changed paths.
All: tui-fmt, tui-vet, tui-lint, api-fmt, api-lint, api-typecheck

lefthook.yaml:

pre-commit:
  parallel: true
  commands:
    # TUI checks (Go)
    tui-fmt:
      glob: "tui/**/*.go"
      run: mise run //tui:fmt
      stage_fixed: true

    tui-vet:
      glob: "tui/**/*.go"
      run: mise run //tui:vet

    tui-lint:
      glob: "tui/**/*.go"
      run: mise run //tui:lint

    # API checks (TypeScript)
    api-fmt:
      glob: "api/**/*.ts"
      run: mise run //api:fmt
      stage_fixed: true

    api-lint:
      glob: "api/**/*.ts"
      run: mise run //api:lint

    api-typecheck:
      glob: "api/**/*.ts"
      run: mise run //api:typecheck

commit-msg:
  commands:
    commitlint:
      run: commitlint --edit {1}

feat(tui): add stats fetch command and message handling
  tui/internal/app/commands.go
  tui/internal/app/update.go
Due: tui-fmt, tui-vet, tui-lint

feat(tui): add stats screen with graph and sidebar
  tui/internal/app/view.go
Due: tui-fmt, tui-vet, tui-lint

feat(tui): add stats navigation to solved screen
  tui/internal/app/view.go
Due: tui-fmt, tui-vet, tui-lint

feat(tui): add stats subcommand
  tui/cmd/root.go
  tui/cmd/stats.go
  tui/cmd/stats_test.go
  tui/internal/app/stats_test.go
Due: tui-fmt, tui-vet, tui-lint

docs(tui): update project context for player stats TUI
  CLAUDE.md
  tui/CLAUDE.md
  tui/internal/storage/CLAUDE.md
Due: none

docs: add test plan for player stats tui
  docs/test-plans/2026-02-15-player-stats-tui.md
Due: none

fix(tui): fix onboarding form rendering on first launch
  tui/go.mod
  tui/internal/app/stats_test.go
  tui/internal/app/update.go
  tui/internal/app/view.go
Due: tui-fmt, tui-vet, tui-lint

fix(tui): show onboarding note and confirm on single screen
  tui/internal/app/update.go
Due: tui-fmt, tui-vet, tui-lint

fix(tui): show loading state during player registration
  tui/internal/app/onboarding_test.go
  tui/internal/app/update.go
Due: tui-fmt, tui-vet, tui-lint

fix(tui): show "Registering..." during player registration
  tui/internal/app/model.go
  tui/internal/app/update.go
  tui/internal/app/view.go
Due: tui-fmt, tui-vet, tui-lint

fix(tui): fix registration bugs found during end-to-end testing
  tui/internal/api/client.go
  tui/internal/api/client_test.go
  tui/internal/app/commands.go
  tui/internal/app/update.go
Due: tui-fmt, tui-vet, tui-lint

fix(tui/app): fix opt-in value not read after form completion
  tui/internal/app/model.go
  tui/internal/app/onboarding_test.go
  tui/internal/app/update.go
Due: tui-fmt, tui-vet, tui-lint

fix(tui/app): fix extra keypress and claim code display alignment
  tui/internal/app/update.go
  tui/internal/app/view.go
Due: tui-fmt, tui-vet, tui-lint

fix(tui/app): consistently center all items in claim code display
  tui/internal/app/view.go
Due: tui-fmt, tui-vet, tui-lint

feat(tui/app): style claim code display as a raffle ticket
  tui/internal/app/view.go
Due: tui-fmt, tui-vet, tui-lint

feat(tui/app): add scalloped edges to claim code box
  tui/internal/app/view.go
Due: tui-fmt, tui-vet, tui-lint

fix(tui/app): fix claim code display misalignment
  tui/internal/app/view.go
Due: tui-fmt, tui-vet, tui-lint

fix(tui/app): fix claim code ticket layout wrapping and alignment
  tui/internal/app/view.go
Due: tui-fmt, tui-vet, tui-lint

refactor(tui): print stats to stdout instead of tui
  tui/cmd/stats.go
  tui/cmd/stats_test.go
  tui/internal/app/model.go
  tui/internal/app/stats_test.go
  tui/internal/app/update.go
  tui/internal/app/view.go
Due: tui-fmt, tui-vet, tui-lint

docs: add player stats and claim codes design plan
  docs/design-plans/2026-02-15-player-stats-claim-codes.md
Due: none

docs: fix 503 to come from store exception, add missing stats 503
  docs/design-plans/2026-02-15-player-stats-api.md
Due: none

docs: fix cross-reference verification issues in design plans
  docs/design-plans/2026-02-15-player-stats-api.md
  docs/design-plans/2026-02-15-player-stats-database.md
  docs/design-plans/2026-02-15-player-stats-tui.md
Due: none

docs: add server-side game id validation, renumber db acs
  docs/design-plans/2026-02-15-player-stats-api.md
  docs/design-plans/2026-02-15-player-stats-database.md
Due: none

docs: address code review feedback on player stats api design plan
  docs/design-plans/2026-02-15-player-stats-api.md
Due: none

docs: split player stats design into database, api, and tui plans
  docs/design-plans/2026-02-15-player-stats-api.md
  docs/design-plans/2026-02-15-player-stats-claim-codes.md
  docs/design-plans/2026-02-15-player-stats-database.md
  docs/design-plans/2026-02-15-player-stats-tui.md
Due: none

docs: address code review feedback on tui design plan
  docs/design-plans/2026-02-15-player-stats-tui.md
Due: none

feat(api): add player stats REST endpoints (#68)
  CLAUDE.md
  api/packages/api/CLAUDE.md
  api/packages/api/src/domain/game/routes/openapi.test.integration.ts
  api/packages/api/src/domain/player/CLAUDE.md
  api/packages/api/src/domain/player/routes/index.ts
  api/packages/api/src/domain/player/routes/register.test.integration.ts
  api/packages/api/src/domain/player/routes/register.ts
  api/packages/api/src/domain/player/routes/schemas.ts
  api/packages/api/src/domain/player/routes/session.test.integration.ts
  api/packages/api/src/domain/player/routes/session.ts
  api/packages/api/src/domain/player/routes/stats.test.integration.ts
  api/packages/api/src/domain/player/routes/stats.ts
  api/packages/api/src/index.ts
  api/packages/api/src/routes/health.test.ts
  api/packages/api/src/routes/health.ts
  api/packages/api/tests/helpers/test-container.ts
  docs/test-plans/2026-02-15-player-stats-api.md
Due: api-fmt, api-lint, api-typecheck

feat(api): add player stats database layer (#66)
  CLAUDE.md
  api/packages/api/.gitattributes
  api/packages/api/CLAUDE.md
  api/packages/api/db/migrations/0000_massive_young_avengers.sql
  api/packages/api/db/migrations/meta/0000_snapshot.json
  api/packages/api/db/migrations/meta/_journal.json
  api/packages/api/drizzle.config.ts
  api/packages/api/package.json
  api/packages/api/src/config/CLAUDE.md
  api/packages/api/src/config/schema.ts
  api/packages/api/src/deps/CLAUDE.md
  api/packages/api/src/deps/plugin.ts
  api/packages/api/src/deps/singleton.ts
  api/packages/api/src/domain/player/CLAUDE.md
  api/packages/api/src/domain/player/claim-code.ts
  api/packages/api/src/domain/player/migrator.ts
  api/packages/api/src/domain/player/schema.ts
  api/packages/api/src/domain/player/store.test.integration.ts
  api/packages/api/src/domain/player/store.ts
  api/packages/api/src/domain/player/types.ts
  api/packages/api/src/index.ts
  api/packages/api/src/instrumentation.ts
  api/packages/api/tests/deps/singleton.test.ts
  api/packages/api/tests/helpers/index.ts
  api/packages/api/tests/helpers/pglite.ts
  api/packages/api/tests/helpers/test-container.ts
  api/pnpm-lock.yaml
  api/pnpm-workspace.yaml
  docs/test-plans/2026-02-15-player-stats-database.md
Due: api-fmt, api-lint, api-typecheck

chore: some minor mise.toml niceties
  api/mise.toml
  mise.toml
  tui/mise.toml
Due: none

feat(tui): add player stats support (#71)
  CLAUDE.md
  docs/test-plans/2026-02-15-player-stats-tui.md
  tui/CLAUDE.md
  tui/cmd/claimcode.go
  tui/cmd/claimcode_test.go
  tui/cmd/link.go
  tui/cmd/link_test.go
  tui/cmd/register.go
  tui/cmd/register_test.go
  tui/cmd/root.go
  tui/cmd/root_test.go
  tui/cmd/stats.go
  tui/cmd/stats_test.go
  tui/cmd/version.go
  tui/cmd/version_test.go
  tui/go.mod
  tui/go.sum
  tui/internal/api/client.go
  tui/internal/api/client_test.go
  tui/internal/api/types.go
  tui/internal/app/commands.go
  tui/internal/app/grid_test.go
  tui/internal/app/messages.go
  tui/internal/app/model.go
  tui/internal/app/onboarding_test.go
  tui/internal/app/recording_test.go
  tui/internal/app/stats_test.go
  tui/internal/app/update.go
  tui/internal/app/view.go
  tui/internal/config/CLAUDE.md
  tui/internal/config/config.go
  tui/internal/config/config_test.go
  tui/internal/storage/CLAUDE.md
  tui/internal/storage/session.go
  tui/internal/storage/session_test.go
  tui/main.go
Due: tui-fmt, tui-vet, tui-lint

chore: disable typescript and go lsp plugins
  .claude/settings.json
Due: none

chore: don't locally manage claude code
  mise.toml
Due: none

refactor(tui): rename version package to versioninfo
  CLAUDE.md
  tui/.goreleaser.yml
  tui/CLAUDE.md
  tui/cmd/version.go
  tui/cmd/version_test.go
  tui/internal/versioninfo/version.go
  tui/internal/versioninfo/version_test.go
  tui/mise.toml
Due: tui-fmt, tui-vet, tui-lint

refactor(tui): apply go fix modernizations for go 1.26
  tui/internal/app/view.go
Due: tui-fmt, tui-vet, tui-lint

test(api): add shared fastify instance helper for route tests
  api/packages/api/tests/helpers/fastify.ts
Due: api-fmt, api-lint, api-typecheck

test(api): flatten game route integration tests and add aaa comments
  api/packages/api/src/domain/game/routes/openapi.test.integration.ts
  api/packages/api/src/domain/game/routes/puzzle.test.integration.ts
  api/packages/api/src/domain/game/routes/solution.test.integration.ts
Due: api-fmt, api-lint, api-typecheck

test(api): flatten player route integration tests and add aaa comments
  api/packages/api/src/domain/player/routes/register.test.integration.ts
  api/packages/api/src/domain/player/routes/session.test.integration.ts
  api/packages/api/src/domain/player/routes/stats.test.integration.ts
  api/packages/api/tests/helpers/fastify.ts
Due: api-fmt, api-lint, api-typecheck

test(api): add aaa comments to player store integration tests
  api/packages/api/src/domain/player/store.test.integration.ts
Due: api-fmt, api-lint, api-typecheck

test(game-generator): flatten tracing integration test, add aaa comments
  api/packages/game-generator/src/integration.test.ts
  api/packages/game-generator/src/tracing.integration.test.ts
Due: api-fmt, api-lint, api-typecheck
